html {
	min-height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	margin: 0;
	background: #087094 radial-gradient(#087094, #042d3c) no-repeat fixed;
	color: white;
}

footer {
	margin-top: 50px;
	height:25px;
}
a {
	color: #ffffff;
}
a:hover {
	color: #ffffff;
}
th {
	font-size: 16px;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
/*#087094*/
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 2px solid #087094;
}

.navbar .navbar-collapse {
	text-align: center;
}
.search-box {
	padding-top: 46px;
}
.logo {
	width: 100%; /* you can use % */
	height: auto;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #FFF9F9;
	background-color: #087094;
}
nav {
	color: #FFF9F9;
	background-image: linear-gradient(#042d3c, #087094);
}
.navbar-default .navbar-nav>li>a  {
	color: #FFF9F9;
}
.navbar-default .navbar-nav>li>a:hover  {
	color: #087094;
}
.nav-tabs>li a:hover {
	background-color: #042d3c;
}
.nav-tabs {
	border-bottom: 2px solid #087094;
}
.nav-tabs>li>a:hover {
	border-color: #087094 #087094 #087094;
}
.nav-tabs>li.active>a {
	border-color: #087094 #087094 #087094;
}
.nav-tabs>li a {
	color: #ffffff;
}
.navbar-default {
	border-color: #087094;
}
.panel-default {
	background-color: rgba(0, 0, 0, 0.20);
}
.panel-default>.panel-heading {
	color: #042d3c;
}
.table {
	font-family: 'Lato', sans-serif;
	background-color: rgba(0, 0, 0, 0.20);
}
.table-hover>tbody>tr:hover {
	background-color: #087094;
}
.table-hover>tbody>tr:hover a {
	color: white;
}
.table>thead>tr>th {
	border-bottom: 2px solid #087094;
}
.a-normal {
	color: blue;
}
.a-normal:hover {
	color: blue;
}
.my-template {
	padding-top: 40px;
	text-align: center;
}
.latestTransactions {
	text-align: left;
}
.infoTable {
	text-align: left;
	text-size: 16px;
}
.contentTable {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	text-size: 14px;
}
.blockTable {
	text-align: left;
	font-size: 13px;
}
.blockTransactions {
	text-align: left;
}
.raw {
	text-align: left;

}
.addr {
	width: 110px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tagged-tag {
	margin-left: 10px;
}
.tagged-address {
	width: 150px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
}
.hash {
	width: 110px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
}

code a, code a:hover, a .hash:hover, .table-hover>tbody>tr:hover code a {
	color: #c7254e;
	vertical-align: middle;
}
.addressReceive {
	color: #00be00;
	font-weight: bold;
}
.addressSend {
	color: #eb2655;
	font-weight: bolder;

}
.coin-decimal {
	font-size: 12px;
}
.coin-whole {
	font-size: 13px;
	font-weight: bold;
}
th[data-sort]{
	cursor:pointer;
}
.to-top {
	color: cornflowerblue;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-variant: small-caps;
	text-transform: uppercase;
}




@-moz-keyframes atebits-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	3% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	10% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	13% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	20% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	23% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	30% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	33% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	40% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	43% {
		-moz-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	50% {
		-moz-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	53% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	60% {
		-moz-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	63% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	70% {
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	73% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	80% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	83% {
		-moz-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	90% {
		-moz-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	93% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@-webkit-keyframes atebits-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	3% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	10% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	13% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	20% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	23% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	30% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	33% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	40% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	43% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	50% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	53% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	60% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	63% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	70% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	73% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	80% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	83% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	90% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	93% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@keyframes atebits-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	3% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	10% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	13% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	20% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	23% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	30% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	33% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	40% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	43% {
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	50% {
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	53% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	60% {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	63% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	70% {
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	73% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	80% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	83% {
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	90% {
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	93% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.atebits-loader:not(:required) {
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	width: 9px;
	height: 9px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) -12px -12px 0 0, rgba(0, 0, 0, 0.5) 12px -12px 0 0, rgba(0, 0, 0, 0.5) -12px 0 0 0, rgba(0, 0, 0, 0.5) 12px 0 0 0, rgba(0, 0, 0, 0.5) -12px 12px 0 0, rgba(0, 0, 0, 0.5) 0 12px 0 0, rgba(0, 0, 0, 0.5) 12px 12px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) -12px -12px 0 0, rgba(0, 0, 0, 0.5) 12px -12px 0 0, rgba(0, 0, 0, 0.5) -12px 0 0 0, rgba(0, 0, 0, 0.5) 12px 0 0 0, rgba(0, 0, 0, 0.5) -12px 12px 0 0, rgba(0, 0, 0, 0.5) 0 12px 0 0, rgba(0, 0, 0, 0.5) 12px 12px 0 0;
	box-shadow: rgba(0, 0, 0, 0.5) -12px -12px 0 0, rgba(0, 0, 0, 0.5) 12px -12px 0 0, rgba(0, 0, 0, 0.5) -12px 0 0 0, rgba(0, 0, 0, 0.5) 12px 0 0 0, rgba(0, 0, 0, 0.5) -12px 12px 0 0, rgba(0, 0, 0, 0.5) 0 12px 0 0, rgba(0, 0, 0, 0.5) 12px 12px 0 0;
	-moz-animation: atebits-loader 8s infinite ease-in-out;
	-webkit-animation: atebits-loader 8s infinite ease-in-out;
	animation: atebits-loader 8s infinite ease-in-out;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}


